ul.success li{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    list-style: none;
}



ul.error li{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
 	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body
   {
       font-family: 'Open Sans', sans-serif;
   }
   
   .fb-profile img.fb-image-lg{
       z-index: 0;
       width: 100%;  
       margin-bottom: 10px;
   }
   
   .fb-image-profile
   {
       margin: -90px 10px 0px 50px;
       z-index: 9;
       width: 20%; 
   }
   
   @media (max-width:768px)
   {
       
   .fb-profile-text>h1{
       font-weight: 700;
       font-size:16px;
   }
   
   .fb-image-profile
   {
       margin: -45px 10px 0px 25px;
       z-index: 9;
       width: 20%; 
   }
   }